/* ---- Reset Styles ---- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

	nav ul {
		list-style: none
	}

blockquote, q {
	quotes: none
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: none
	}


mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input, select {
	vertical-align: middle
}

li {
	list-style: none
}

/* ---- Custom Styles ---- */


body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0; /* Remove default margin */
	flex-direction: column; /* Display children in a column */
}

a {
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	z-index: 2;
}

#particles-js {
	width: 100%;
	height: 100%;
	background-color: #363535;
	background-image: url('');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute; /* Add position: absolute; */
	z-index: 1; /* Add a lower z-index */
}

.link {
	text-decoration: none;
	text-align: center;
	font-family: Verdana;
	color: white;
	border-radius: 20px;
	transition: background-color 0.3s ease;
	background-color: #444242;
	margin-bottom: 20px;
	font-size: 30px;
	padding: 20px;
}

a.link:hover {
	background-color: #555;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	z-index: 2;
}

a.link::before {
	margin-right: 5px;
	vertical-align: middle;
}

.logo {
	width: 100px;
	height: auto;
}

a.topggLink::before {
	content: url('https://cdn.discordapp.com/attachments/1157621562221002754/1188524913426976778/1.png');
}

a.voidbotsLink::before {
	content: url('https://media.discordapp.net/attachments/1157621562221002754/1188524913858973766/oFg5Gszrcl.png');
}

a.botlist::before {
	content: url('https://cdn.discordapp.com/attachments/1157621562221002754/1188524913204662322/unnamed.png');
}

a.sbotlist::before {
	content: url('https://cdn.discordapp.com/attachments/1157621562221002754/1188524913661845614/34515075-0f84-484f-bcb8-62ef076e3bf5_logo.png');
}

