body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    flex-direction: column; /* Display children in a column */
    background-color: #363535;
    font-family: Verdana;
}

h1.title {
    font-size: 60px;
    color: white;
    margin-top: 20px; /* Adjust this value as needed */
    text-align: center;
    max-width: 80%;
}

.logo {
    width: 100px;
    height: auto;
    margin-top: 40px;
}

.statement {
    max-width: 700px; /* Adjust the width as needed */
    color: white;
    text-align: center;
    margin-right: 20px; /* Adjust the right margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
}


h1.subtitle {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: left;
    justify-content: center;
}

img {
    margin: 10px;
    border-radius: 10px;
}

.middle {
    text-align: left;
    justify-content: center;
    display: flex;
}

.showcase {
    text-align: center;
}


.note {
    font-size: 15px;
}

a.civitai {
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    background-color: #444242;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.civitai:hover {
   background-color: #555;
}

a.civitai::before {
    content: url('https://cdn.discordapp.com/attachments/1157621562221002754/1204789392044982343/images_1.png?ex=65d6028e&is=65c38d8e&hm=4b900c4018982175105af23ff647869134644222f40337965bc4be847f7f632b&');
    margin-right: 5px;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
}

/* Optional: Handle when hovering over the scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media screen and (max-width: 600px) {
    h1.title {
        font-size: 35px;
        max-width: 400px;
    }

    img {
        width: 100%;
    }

    h1.subtitle {
        font-size: 30px;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    h1.title {
        font-size: 30px;
        max-width: 300px;
    }

    img {
        width: 90%;
    }

    h1.subtitle {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }
}
